biopython==1.67
contextlib2==0.5.4
Django==1.10.5
django-cors-headers==1.1.0
django-filter==0.13.0
django-multiselectfield==0.1.3
django-stored-messages==1.4.0
django-uuidfield==0.5.0
djangorestframework==3.4.1
djangorestframework-jwt==1.8.0
gunicorn==19.6.0
requests==2.12.4
psycopg2==2.6.2
PyJWT==1.4.1
raven==5.32.0
